anyio
appdirs
beautifulsoup4
certifi
charset-normalizer
click
dnspython
et_xmlfile
fastapi>=0.109.0
frozendict
h11
html5lib
idna
lxml
multitasking
numpy
openpyxl
pandas
pydantic>=2.5.0
pymongo
python-dateutil
python-dotenv
python-multipart
pytz
requests
six
soupsieve
starlette
typing_extensions
tzdata
urllib3
uvicorn>=0.27.0
webencodings
yfinance
fyers-apiv3
pydantic[email]
passlib[argon2]
python-jose[cryptography]